# Gradle files
/.gradle
/build

# IDE project files
.classpath
.project
.settings/
/bin
.idea

# CheckStyle
.checkstyle

# PMD and eclipse-PMD
/.eclipse-pmd
/.pmd
/.ruleset

/src/main/java/org/terasology/worldviewer/version/
